/* Navbar.css */
.navbar {
    background-color: #ffffff;
    color: #fffefe;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #111111;
    margin: 3px 0;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 5px;
  }
  
  button {
    color: #0c0b0b;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .show-menu .menu-toggle {
    display: flex;
  }
  
  .show-menu .search-bar {
    display: none;
  }

  .badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }
  
  .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605;
  }
  #lblCartCount {
      font-size: 12px;
      background: #ff0000;
      color: #ffffff;
      padding: 0 5px;
      vertical-align: top;
      margin-left: -10px; 
  }


  .navbarbg{background-color: #ffffff;
  color: #fffdfd;}


  